#side-menu {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}
.ant-menu-item {
  background-color: inherit !important;
}
.main-row {
  height: 450px;
}
.top-inner-row {
  height: 50px;
}
.inner-row {
  height: 350px;
}
.poster {
  max-width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center;
}
.ant-tabs-tab {
  flex: 1;
  justify-content: center;
  margin: 0 !important;
}
.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
}
.recommended {
  border: 1px solid hsl(210, 16%, 82%);
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
}
.centered-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  width: 500px;
  background: hsl(210, 16%, 82%);
  height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 35px;
  width: 500px;
  background-color: hsl(216, 33%, 97%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
  max-height: 300px;
  overflow-y: scroll;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 3px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: hsl(210, 16%, 82%);
}
/* Swiper */
.pagination {
  bottom: 0;
  padding-bottom: 4px;
}
.slide {
  height: 200px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
}
.slide .slide-img {
  position: relative;
  z-index: -1;
}
.slide .tomato {
  z-index: 1;
  align-items: center;
  vertical-align: middle;
}
.slide .score {
  margin-left: 5px;
}
.slide .slide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-content {
  position: absolute;
  color: hsl(216, 33%, 97%);
  bottom: 10px;
  left: 25px;
  text-shadow: 1px 1px 3px #444;
  width: 80%;
  cursor: pointer;
}
.slide-content .slide-title {
  color: hsl(216, 33%, 97%);
}
.custom-slider .swiper-container {
  padding: 20px 0;
}
.custom-slider .swiper-container .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  width: 300px;
}
.custom-slider .swiper-container .swiper-slide:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}
.custom-slider .swiper-container .swiper-slide:first-child:hover {
  margin: 0 40px;
}
.custom-slider .swiper-container .swiper-slide:last-child:hover {
  margin: 0 -40px;
}
.ribbon {
  background: hsla(0, 0%, 0%, 0.5);
  height: 44px;
  margin: 0 auto;
  position: absolute;
  width: 37px;
  right: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  font-size: 20px;
  color: #f2f2f2;
  cursor: pointer;
}
.ribbon:after,
.ribbon:before {
  content: '';
  position: absolute;
  border-top: 10px solid hsla(0, 0%, 0%, 0.5);
  height: 0;
  width: 0;
  top: 100%;
}
.ribbon:after {
  border-left: 20px solid transparent;
  right: 0px;
}
.ribbon:before {
  border-right: 20px solid transparent;
  left: 0px;
}
.on-watchlist {
  background: hsla(50, 100%, 50%, 0.8);
}
.on-watchlist:after,
.on-watchlist:before {
  border-top: 10px solid hsla(50, 100%, 50%, 0.8);
}
.watchlist-icon {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
.watchlist-icon:hover {
  color: hsl(0, 0%, 100%) !important;
}
.login-card {
  width: 300px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.notification-link:hover {
  cursor: pointer;
}
.profile-card {
  width: 350px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.dashboard-alert {
  margin-bottom: 10px;
}
/*# sourceMappingURL=App.css.map */