.site-layout-content {
	padding: 0 25px;
}

.ant-menu-item {
	margin: 20px 0 !important;
}

.main-row {
	height: 450px;
}

.top-inner-row {
	height: 50px;
}

.inner-row {
	height: 350px;
}

.poster {
	max-width: 100%;
}

.ant-tabs-nav {
	width: 100% !important;
}

.ant-tabs-tab {
	display: block;
	flex: 1;
	text-align: center !important;
}

.ant-tabs-nav > div:nth-of-type(1) {
	display: unset !important;
	width: 100% !important;
	text-align: center !important;
}

.recommended {
	border: 1px solid grey;
	border-radius: 2px;
	padding: 18px;
}

.centered-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-align-container {
	display: flex;
	align-items: center;
	height: 70px;
}

.ant-menu-item-selected {
	background-color: inherit !important;
}

.ant-layout-header {
	padding-left: 0 !important;
}

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 500px;
	background: #1f1f1f;
	height: 32px;
	padding: 10px 20px;
	border: 1px solid #434343;
	border-radius: 2px;
}

.react-autosuggest__input--focused {
	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 51px;
	width: 500px;
	border: 1px solid #434343;
	background-color: #1f1f1f;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 2;
	max-height: 300px;
	overflow-y: scroll;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 3px 20px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #434343;
}
